* {
  box-sizing: border-box;
  overflow: scroll;
}

.index {
  height: 100vh;
  width: 100vw;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__header {
    padding: 0 60px;
    &__inner {
      padding: 15px 0 0;
      max-width: 1040px;
      width: 100%;
      min-height: 82px;
      margin: 0 auto;
      &__main {
        position: relative;
        display: flex;
        align-items: center;
        h1 {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a {
            width: 140px;
            display: block;
          }
        }
      
        &__search-box {
          width: 100%;
          margin-left: auto;
          display: flex;

          form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
          }
          
        }
      }
      
      &__nav {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        ul.listsLeft {
          position: relative;
          display: flex;
          li.item-category {
            text-decoration: none;
            padding: 0;
            line-height: 38px;
            a {
              text-decoration: none;
              color: black;
            }
          }
          li.item-bland {
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }

        ul.listsRight {
          margin-left: auto;
          display: flex;
          li {
            color: black;
            line-height: 38px;
            padding: 0 0 0 16px;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
  &__main__visual {
    width: 100%;
    height: 560px;
    background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      padding: 60px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
    }
  }
  &__main__topIntroduction {
    padding: 60px 20px;
    &__subtitle{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    }
    &__subtitle{
      position: relative;
      padding-bottom: 15px;
      &__bottom {
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 45px;
        }
    }
    &__lists {
      display: flex;
      padding: 60px 20px;
      line-height: 50px;
      &__texts {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        &__colortext {
          color: rgb(60, 202, 206);
        }
      }
      &__description {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
      &__pict {
        position: relative;
        width: 30%;
        margin-right: 40px;
      
        &__number{
          position: absolute;
          font-size: 30px;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      } 
    } 
  }
  &__main__topMiddleDl {
    background-image: url(/assets/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__toptext {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
  }
  &__main__topIntroduction {
    padding: 60px 100px;
    background-color: #fff;
    &__subtitle {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        figure.item__image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
      }
    }
  }
  &__main__pickupContainer {
    background-color: #f8f8f8;
    height: 100%;
    padding: 80px 0 0;
    &__head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__headbottom {
      color: rgb(60, 202, 206);
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__lists {
      margin: 0;
      padding: 0;
      &__list {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__link {
          width: 220px;
          display: inline-block;
          .product-image-box {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
          .product-link__description {
            background-color: white;
            color: #333;
            padding: 16px;
            .product-name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .product-cost {
              font-size: 16px;
              .product-cost__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
          }


          
        }
      }
    }
  }


  &__appBanner {
    background-image: url(/assets/bg-appBanner-pict.jpg);
    padding: 100px 40px;
    background-size: cover;
    background-position: center;
    &__inner {
      color: #fff;
      text-align: center;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
    }
  }
  &__footer {
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
    &__contents {
      display: flex;
      &__content {
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      }
    }
  &__main {
    background-color: red;
    display: flex;
    align-items: center;
  }
}

.img {
  width: 100%;
  vertical-align: bottom;
}

.form__sach {
  width: calc(100% - 26px);
  height: 36px;
  padding: 0 0 0 5px;
}
.form-group {
  display: flex;
}
.FURIMA-btn {
  width: 100px;
  vertical-align: bottom;
}
.follow-btn {
  width: 36px;
  border: 0;
  cursor: pointer;
  margin-bottom: 11px;
  background-color: #3CCACE;
  padding: 8px;
}
.Search-btn {
  width: 100%;
  vertical-align: bottom;
}

.APPstore-btn {
  height: 45px;

  margin-bottom: 10px;
}
.Googleplay-btn {
  height: 65px
}

.product-link {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
}

.topIntroduction-leftimage {
  width: 100%;
}
.topIntroduction-centerimage {
  width: 100%;
}
.topIntroduction-rightimage {
  width: 100%;
}
.item-image {
  width: 100%;
  vertical-align: bottom;
}
.link-btn {
  color: #3ccace;
  font-size: 24px;
  text-decoration: none;
}
.footer__btn {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
}
.camera-btn {
  width: 60%;
}

.index__camera {
  width: 120px;
  background-color: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 1;
}

.index__camera__text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

}